<section>

    <div class="transaction-title">

        <h2>GERENCIADOR DE MOVIMENTAÇÕES:</h2>
        
    </div>

    <nav class="toolbar">

        <button>INCLUIR</button>
        <button>ALTERAR</button>
        <button>CONSULTAR</button>
        <button>EXCLUIR</button>

    </nav>

    <table>

        <thead>

            <tr>
                
                <th class="category">Conta:</th>
                <th class="description">Descrição:</th>
                <th class="limit">Limite:</th>
                <th class="balance">Saldo:</th>

            </tr>

        </thead>

        <!-- Inserir Registros -->
        <tbody id="category-tbody"></tbody>

    </table>

</section>