<section>
    <div class="bank-detailing-title">

        <button>Fechar</button>

        <h3>DETALHAMENTO DO REGISTRO:</h3>

    </div>

    <div class="bank-data">

        <label for="account">Conta:</label><br>
        <input id="account"><br><br>

        <label for="description">Descrição:</label><br>
        <textarea id="description"></textarea><br><br>

        <label for="credit">Crédito:</label><br>
        <input id="credit"><br><br>

        <button>Salvar</button>
        <button>Cancelar</button>
    </div>
</section>