<section>

  <header>

    <!-- Lado Esquerdo do Cabeçalho -->
    <div class="title">

      <img src="../assets/logo.png" alt="img-logo.png">

      <h2>SISTEMA DE FINANÇAS PESSOAIS</h2>

    </div>

    <!-- Lado Direito do Cabeçalho -->
    <ul>
      
      <li><a href="#">Suporte</a></li>

      <li><a href="#">Conta</a></li>

    </ul>

  </header>

  <nav class="navbar">

    <!-- Menu Lateral de Navegação -->
    <button>MENU</button>
    <button>INÍCIO</button>
    <button>MOVIMENTAÇÕES</button>
    <button>RELATÓRIOS</button>
    <button>CATEGORIAS</button>
    <button>BANCOS</button>

  </nav>

</section>

<app-bank></app-bank>